{% extends 'base.html.twig' %}

{% block title %}salle!{% endblock %}

{% block main %}
<h1>Salle index</h1>


<table class="table" border="1">
<thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>proprietaire</th>
            <th>details</th>
            
            
            
        </tr>
    </thead>
    <tbody>
  {% for salle in salles %}
  
 
     <tr>
            <td>{{ salle.id }}</td>
            <td>{{ salle.nomsalle }}</td>
             <td>{{ salle.proprietaire }}</td>
            <td><a href="{{ path('show', {'id': salle.id}) }}">show</a></td>
           </tr>

       
  {% endfor %} {# salles #}

    </tbody>
</table>

{% endblock %} {# body #}